h1{
    color: brown;
}

.task-name{
    font-weight: bold;
    color: cadetblue;
}

.task-action{
    cursor: pointer;
}

.task-completed{
    color: grey;
    text-decoration: line-through;
}

.task-pending{
    font-weight: bold;
    color: red !important;
    & span{
        color: tomato;
    }
    & h6>span{
        color: white;
    }
}